<%- include('partials/header') %>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="h1 display-4">Voic votre score !</h2>
  <p class="lead">Vous avez trouvé <%= scoreQuiz %> bonnes réponses.</p>
</div>

<div class="row">
  <div class="col-6 offset-3">
  </div>
</div>
<%- include('partials/footer') %>